/* 
    Document   : ProductInfoCSS
    Created on : 25-okt-2012, 15:05:33
    Author     : Jennis
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    background-color: #0066CC;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
}
h1{
    color: white;
    font-family: Arial;
    font-size: 80px;
}
h2{
    color: white;
    font-family: Arial;
    font-size: 50px; 
}
h3{
    color: white;
    font-family: Arial;
    font-size: 30px;  
}
li{
    color: white;
    font-family: Arial;
    font-size: 30px; 
}
#ImageHolder{
    float: left;
    display: block;
    width: 100%;
    margin-left: 10%
}
#ImageHolder p{
    text-align:center;
}
#ImageHolder p img{
    width: 100%;
    height: 100%;
}
#ProductInformation{
    float: left;
    display: block;
    width: 40%;
    margin-left: 10%;
}

#Leftside{
    width: 40%;
    float: left;
}
#thumbnails{
    width: 100%;
    height: 80px;
    background-color: #0055CC;
    float: left;
    margin-left: 10%;
}


